.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 0.25rem;
    max-width: 100%;
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    .img-thumbnail {
        height: 350px;
    }
}

@media (min-width: 768px) {
    .img-thumbnail {
        height: 328px;
    }
}

@media (min-width: 992px) {
    .img-thumbnail {
        height: 268px;
    }
}

@media (min-width: 1200px) {
    .img-thumbnail {
        height: 250px;
    }
}

.text-right {
    text-align: right !important;
}

.p-0 {
    padding: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.mb-4{
  margin-bottom: 1.5rem !important;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}